[DIRECTORY]
logs_dir = ./logs

[SERVER]
# To get a string like this run:
# > openssl rand -hex 32
secret_key=ed1984769216c28dc4949f1c2b6ccd007431bf8a02f8eb3ff56fb321b1e6b686

algorithm=HS256

# In minutes
expiration_time=30

[DATABASE]
server=127.0.0.1
database=trtdb
username=trt_api_service
password=trt_api_service!123
